{% extends 'base.html.twig' %}

{% block title %} Loading.. {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('plugin') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('plugin') }}
{% endblock %}

{% block body %}
    <div class="termynal-container">
        <div class="container">
            <div id="termynal" data-termynal data-termynal data-ty-typeDelay="10" data-ty-lineDelay="30">
                <span data-ty-prompt="admin@server:/home$" data-ty="input">composer create-project symfony/skeleton:"7.0.*" project</span>
                <span class="green" data-ty>Creating a "symfony/skeleton:7.0.*" project at "./project"</span>
                <span class="green" data-ty>  - Installing symfony/skeleton (v7.0.99): Extracting archive</span>
                <span class="green" data-ty>Created project in /home/project</span>
                <span class="green" data-ty>Loading composer repositories with package information</span>
                <span class="green" data-ty>Updating dependencies</span>
                <span class="green" data-ty>Lock file operations: 1 install, 0 updates, 0 removals</span>
                <span data-ty>  - Locking symfony/flex (v2.4.5)</span>
                <span class="green" data-ty>Writing lock file</span>
                <span class="green" data-ty>Installing dependencies from lock file (including require-dev)</span>
                <span class="green" data-ty>Package operations: 1 install, 0 updates, 0 removals</span>
                <span data-ty>  - Installing symfony/flex (v2.4.5): Extracting archive</span>
                <span class="green" data-ty>Generating autoload files</span>
                <span class="green" data-ty>1 package you are using is looking for funding.</span>
                <span class="green" data-ty>Use the `composer fund` command to find out more!</span>
                <span class="green" data-ty>Run composer recipes at any time to see the status of your Symfony recipes.</span>
                <span class="green" data-ty>Loading composer repositories with package information</span>
                <span class="green" data-ty>Restricting packages listed in "symfony/symfony" to "7.0.*"</span>
                <span class="green" data-ty>Updating dependencies</span>
                <span class="green" data-ty>Lock file operations: 30 installs, 0 updates, 0 removals</span>
                <span data-ty> - Locking <span class="green">psr/cache (3.0.0)</span></span>
                <span data-ty> - Locking <span class="green">psr/container (2.0.2)</span></span>
                <span data-ty> - Locking <span class="green">psr/event-dispatcher (1.0.0)</span></span>
                <span data-ty> - Locking <span class="green">psr/log (3.0.0)</span></span>
                <span data-ty> - Locking <span class="green">symfony/cache (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/cache-contracts (v3.4.2)</span></span>
                <span data-ty> - Locking <span class="green">symfony/config (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/console (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/dependency-injection (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/deprecation-contracts (v3.4.0)</span></span>
                <span data-ty> - Locking <span class="green">symfony/dotenv (v7.0.4)</span></span>
                <span data-ty> - Locking <span class="green">symfony/error-handler (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/event-dispatcher (v7.0.3)</span></span>
                <span data-ty> - Locking <span class="green">symfony/event-dispatcher-contracts (v3.4.2)</span></span>
                <span data-ty> - Locking <span class="green">symfony/filesystem (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/finder (v7.0.0)</span></span>
                <span data-ty> - Locking <span class="green">symfony/framework-bundle (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/http-foundation (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/http-kernel (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/polyfill-intl-grapheme (v1.29.0)</span></span>
                <span data-ty> - Locking <span class="green">symfony/polyfill-intl-normalizer (v1.29.0)</span></span>
                <span data-ty> - Locking <span class="green">symfony/polyfill-mbstring (v1.29.0)</span></span>
                <span data-ty> - Locking <span class="green">symfony/polyfill-php83 (v1.29.0)</span></span>
                <span data-ty> - Locking <span class="green">symfony/routing (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/runtime (v7.0.3)</span></span>
                <span data-ty> - Locking <span class="green">symfony/service-contracts (v3.4.2)</span></span>
                <span data-ty> - Locking <span class="green">symfony/string (v7.0.4)</span></span>
                <span data-ty> - Locking <span class="green">symfony/var-dumper (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/var-exporter (v7.0.6)</span></span>
                <span data-ty> - Locking <span class="green">symfony/yaml (v7.0.3)</span></span>
                <span class="green" data-ty>Writing lock file</span>
                <span class="green" data-ty>Installing dependencies from lock file (including require-dev)</span>
                <span class="green" data-ty>Package operations: 30 installs, 0 updates, 0 removals</span>
                <span data-ty> - Installing <span class="green">symfony/runtime (v7.0.3)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">psr/cache (3.0.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/cache-contracts (v3.4.2)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/polyfill-mbstring (v1.29.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/polyfill-intl-normalizer (v1.29.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/polyfill-intl-grapheme (v1.29.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/string (v7.0.4)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">psr/container (2.0.2)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/service-contracts (v3.4.2)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/console (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/dotenv (v7.0.4)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">psr/event-dispatcher (1.0.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/event-dispatcher-contracts (v3.4.2)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/deprecation-contracts (v3.4.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/routing (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/polyfill-php83 (v1.29.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/http-foundation (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/event-dispatcher (v7.0.3)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/var-dumper (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">psr/log (3.0.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/error-handler (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/http-kernel (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/finder (v7.0.0)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/filesystem (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/var-exporter (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/dependency-injection (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/config (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/cache (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/framework-bundle (v7.0.6)</span>: Extracting archive</span>
                <span data-ty> - Installing <span class="green">symfony/yaml (v7.0.3)</span>: Extracting archive</span>

                <span class="green" data-ty>Generating autoload files</span>
                <span class="green" data-ty>27 packages you are using are looking for funding.</span>
                <span class="green" data-ty>Use the `composer fund` command to find out more!</span>
                <span class="green" data-ty>Symfony operations: 4 recipes (90454cbe88fdcb5b153a584878c444dc)</span>
                <span data-ty>  - Configuring <span class="green">symfony/flex (>=1.0)</span>: From github.com/symfony/recipes:main</span>
                <span data-ty>  - Configuring <span class="green">symfony/framework-bundle (>=7.0)</span>: From github.com/symfony/recipes:main</span>
                <span data-ty>  - Configuring <span class="green">symfony/console (>=5.3)</span>: From github.com/symfony/recipes:main</span>
                <span data-ty>  - Configuring <span class="green">symfony/routing (>=7.0)</span>: From github.com/symfony/recipes:main</span>
                <span class="green" data-ty>Executing script cache:clear [OK]</span>
                <span class="green" data-ty>Executing script assets:install public [OK]</span>
                <span data-ty></span>
                <span data-ty-prompt="admin@server:/home$" data-ty="input">cd ./project</span>
                <span data-ty-prompt="admin@server:/home/project$" data-ty="input">npm install</span>
                <span data-ty="progress"></span>
                <span data-ty>added 670 packages, and audited 671 packages in 0s</span>
                <span data-ty>86 packages are looking for funding</span>
                <span data-ty>run `npm fund` for details</span>
                <span data-ty>found 0 vulnerabilities</span>
                <span data-ty-prompt="admin@server:/home/project$" data-ty="input">npm run dev</span>
                <span data-ty></span>
                <span data-ty>> dev</span>
                <span data-ty>> encore dev</span>
                <span data-ty>Running webpack ...</span>
                <span data-ty class="green">DONE Compiled successfully in 1ms</span>
                <span data-ty-prompt="admin@server:/home/project$" data-ty="input">symfony server:start</span>
                <span data-ty="progress"></span>
                <span class="green" data-ty>[OK] Web server listening</span>
                <span class="green" data-ty>https://lukiashchenkodm.site</span>
                <span data-ty>[<span class="green">Web Server</span>] Apr 27 23:12:37 |DEBUG | PHP Reloading PHP versions</span>
                <span data-ty>[<span class="green">Web Server</span>] Apr 27 23:12:37 |DEBUG | PHP Using PHP version 8.2.10 (from default version in $PATH)</span>
                <span data-ty>[<span class="green">PHP-FPM</span>] Apr 27 23:12:37 |NOTICE | FPM fpm is running, pid 94601</span>
                <span data-ty>[<span class="green">PHP-FPM</span>] Apr 27 23:12:37 |NOTICE | FPM ready to handle connections</span>
                <span data-ty>[<span class="green">PHP-FPM</span>] Apr 27 23:12:37 |NOTICE | FPM systemd monitor interval set to 10000ms</span>
                <span data-ty>[<span class="green">Web Server</span>] Apr 27 23:12:37 |INFO | PHP listening path="/usr/sbin/php-fpm8.2" php="8.2.10" port=41039</span>
                <span data-ty="progress" data-ty-progressPercent="100"></span>
            </div>
        </div>
    </div>
{% endblock %}