.underline {
    width: 0px;
    margin: 10px 0px;
    height: 5px;
    background: $ebony;
    border-radius: 10px;
}

.underline-little {
    width: 35%;
}

.underline-medium {
    width: 45%;
}

.underline-big {
    width: 65%;
}