$ebony: #1E1B18;

$midnigth-blue-dark: #023047;
$midnight-blue-base: #115070;
$midnight-blue-medium: #297499;
$midnight-blue-light: #4C9AC1;
$midnight-blue-lightest: #79C4EA;

$sunset-red-dark: #981716;
$sunset-red-base: #FE4A49;
$sunset-red-medium: #FF7372;
$sunset-red-light: #FF9B9B;
$sunset-red-lightest: #FFC4C4;