.skills-container-wrapper, .projects-container-wrapper, .experience-container-wrapper, .send_message-container-wrapper {
    strong {
        font-weight: bold;
        font-size: 100px;
    }
}

.section {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;

    .github-link {
        margin: 20px 0px;
        padding: 10px 100px;
        color: white;
        background: $sunset-red-base;
        z-index: 100;
    }

    .section-background {
        position: absolute;
        z-index: 0;
        left: -200px;
    }
    
    .personal_skills-section-background {
        position: absolute;
        z-index: 0;
        left: -700px;
        top: -100px;
    }

    .container {
        position: relative;
    }

    .container-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .icon {
            margin: 30px 0px;
        }

        .section-title {
            position: relative;
            font-size: 6vh;
            color: $ebony;
            font-weight: bold;
        }

        .section-description {
            text-align: center;
            font-size: 3vh;
            width: 100%;
            color: $ebony;
            font-weight: bold;
            margin: 10px 150px;
        }

        .section-image {
            width: 450px;
            margin: 30px 0px;
            border-radius: 16px;
        }

        .level {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
            font-weight: bold;

            div {
                z-index: 10;
            }
        }

        .section-rows {
            width: 90%;
            .section-row {
                display: flex;
                margin: 20px 0px;
                .row-name {
                    margin-top: 5px;
                    width: 100%;
                    background: $ebony;
                    color: white;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: bold;

                }

                .row-value {
                    width: 100%;
                    background: $sunset-red-base;
                    color: white;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .section {
        .section-background {
            position: absolute;
            display: none;
            z-index: 0;
            left: -90vw;
        }
    }
}